.user {
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
  background-color: #f6f8f9;
  @media screen and (max-width: 768px) {
    padding: 0 20px;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    background-color: #f6f8f9;
  }
  .content {
    max-width: 990px;
    position: relative;
    padding-left: 200px;
  }
  .aside {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .avatar {
      .avatar-pic {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
        .avatar-pic-mask {
          height: 40px;
          width: 100%;
          background-color: rgba(194, 12, 12, 0.5);
          color: #ffffff;
          opacity: 0.5;
          position: absolute;
          bottom: 0;
          left: 0;
          text-align: center;
          line-height: 40px;
          overflow: hidden;
          input {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
          }
          &:hover {
            color: red;
          }
        }
      }
      .avatar-name {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        color: #c20c0c;
        font-family: quote, 'PingFangSC-Regular', 'PingFang SC', 'Microsoft Yahei', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', 'simsun', sans-serif;
        margin-top: 25px;
        margin-bottom: 60px;
      }
    }
    .user-list {
      .user-item {
        width: 100%;
        height: 50px;
        color: #ffffff;
        background-color: #c20c0c;
        text-align: center;
        line-height: 50px;
        font-size: 1rem;
        &.user-item-active {
          background-color: #9b0909;
        }
      }
    }
  }
  .user-info {
    padding-top: 300px;
    padding-left: 200px;
    width: 80%;
    height: 500px;
    td {
      font-size: 1rem;
      color: #202020;
      width: 150px;
      height: 50px;
    }
    .user-operation {
      text-align: right;
      a {
        width: 100%;
        color: #C20C0C;
      }
    }
  }
}
