.version.index /* version checker */
{
	color: #0000E0;
	background-color: #BCFAD0;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 4281.500000000001px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 308.4999999999991px;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#u97
{
	z-index: 2;
	position: relative;
	width: 100%;
}

#u197-272
{
	z-index: 4;
	min-height: 4156px;
	background-color: transparent;
	margin-top: 65px;
	position: relative;
	width: 72.92%;
	margin-left: 13.55%;
}

#u197-2
{
	line-height: 22px;
}

#u197-3
{
	line-height: 22px;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u197-198
{
	text-align: left;
	line-height: 24px;
	color: #C20C0C;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u197-12,#u197-17,#u197-46,#u197-185,#u197-207,#u197-230
{
	text-align: left;
	line-height: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u197,#u197-4,#u197-6,#u197-8,#u197-9,#u197-11,#u197-14,#u197-16,#u197-19,#u197-21,#u197-23,#u197-25,#u197-27,#u197-29,#u197-31,#u197-33,#u197-35,#u197-37,#u197-39,#u197-41,#u197-43,#u197-45,#u197-48,#u197-50,#u197-52,#u197-54,#u197-56,#u197-58,#u197-60,#u197-62,#u197-64,#u197-66,#u197-68,#u197-70,#u197-72,#u197-74,#u197-76,#u197-78,#u197-80,#u197-82,#u197-84,#u197-86,#u197-88,#u197-90,#u197-92,#u197-94,#u197-96,#u197-98,#u197-100,#u197-102,#u197-104,#u197-106,#u197-108,#u197-110,#u197-112,#u197-114,#u197-116,#u197-118,#u197-120,#u197-122,#u197-124,#u197-126,#u197-128,#u197-130,#u197-132,#u197-134,#u197-136,#u197-138,#u197-140,#u197-142,#u197-144,#u197-146,#u197-148,#u197-150,#u197-152,#u197-154,#u197-156,#u197-158,#u197-160,#u197-162,#u197-164,#u197-166,#u197-168,#u197-170,#u197-172,#u197-174,#u197-176,#u197-178,#u197-180,#u197-182,#u197-184,#u197-187,#u197-189,#u197-191,#u197-193,#u197-195,#u197-197,#u197-200,#u197-202,#u197-204,#u197-206,#u197-209,#u197-211,#u197-213,#u197-215,#u197-217,#u197-219,#u197-221,#u197-223,#u197-225,#u197-227,#u197-229,#u197-232,#u197-234,#u197-235,#u197-237,#u197-239,#u197-241,#u197-243,#u197-245,#u197-247,#u197-248,#u197-250,#u197-252,#u197-254,#u197-256,#u197-258,#u197-259,#u197-261,#u197-263,#u197-265,#u197-267,#u197-268,#u197-270
{
	font-family: abel, sans-serif;
	font-weight: 400;
}

.html
{
	background-color: #F6F8F9;
}

body
{
	position: relative;
	min-width: 320px;
}

#u97_img
{
	width: 100%;
}

