<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <style type="text/css">
    html, body {
      padding: 0;
      margin: 0;
      font-family: "微软雅黑";
      color: #202020
    }

    ul, li, p {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .clearfix {
      clear: both
    }

    .name {
      font-size: 22px;
      width: 800px;
      margin: 30px auto;
    }

    .left {
      float: left;
      font-size: 14px;
      font-weight: bold;
    }

    .right {
      float: right;
      font-size: 14px;
      font-weight: bold;
    }

    .right li, .left li {
      margin-top: 8px
    }

    .box {
      width: 800px;
      margin: 0 auto;
    }

    .xian {
      width: 100%;
      height: 2px;
      background-color: #202020;
      margin-top: 5px
    }

    .biaoti {
      font-size: 14px;
      font-weight: bold;
      margin-top: 20px
    }

    .neirong span {
      font-size: 12px;
      display: block;
      padding: 0;
      margin: 0;
      width: 216px
    }

    .neirong, .neirong1 {
      margin: 5px 0;
    }

    .neirong1 span {
      font-size: 12px;
      margin-right: 20px
    }

    .jingli {
      margin-top: 15px;
    }

    .jingli li {
      float: left;
      font-size: 12px
    }

    .jingli p {
      font-size: 12px;
      line-height: 24px;
      margin-top: 8px
    }

    .jinglibt span {
      font-weight: bold;
      width: 226px;
      display: block;
      float: left;
      font-size: 12px
    }

    .jinglibt1 span {
      font-weight: bold;
      display: block;
      float: left;
      font-size: 12px;
      margin-right: 15px
    }

    .photo {
      width: 120px;
      height: 150px;
      border: #9e9e9e 1px solid;
      position: absolute;
      top: -60px;
      right: 0
    }

    .jinglibt p {
      float: left;
      font-size: 12px;
      font-weight: bold;
      margin-right: 20px;
      line-height: 14px;
      margin-top: 0
    }

    .nr li {
      font-size: 12px;
      margin-top: 6px
    }

    .nr .icon {
      display: block;
      width: 101px;
      text-align: right;
      font-weight: bold;
      float: left;
      line-height: 20px
    }

    .nr p {
      width: 680px;
      float: right;
      line-height: 20px
    }

    .jielun {
      display: inline;
      color: red
    }
  </style>
</head>
<body>
<h4 class="name">X X X</h4>
<div style="width: 800px;margin:0 auto;position: relative;">
  <div style="width: 550px;">
    <ul class="left">
      <li>电话：12112365478</li>
      <li>联系地址：北京西城区阜城大街西门1160号</li>
    </ul>

    <ul class="right">
      <li>邮箱：qiuyuanbfsu@163.com</li>
      <li>求职意向：行研</li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="photo"></div>
</div>

<div class="box">
  <div>
    <p class="biaoti">教育背景</p>
    <div class="xian"></div>
  </div>

  <ul class="jingli" style="margin-top: 10px">
    <li style="font-weight: bold;">2016.09-2019.06</li>
    <li style="margin-right: 0;width: 680px;float: right">
      <div class="jinglibt">
        <span>北京外国语大学</span>
        <span>国际商学院&nbsp;&nbsp;&nbsp;金融工程与风险管理</span>
        <span style="text-align: right;">硕士</span>
        <div class="clearfix"></div>
      </div>
    </li>
    <div class="clearfix"></div>
  </ul>

  <ul class="jingli" style="margin-top: 10px">
    <li style="font-weight: bold;">2016.09-2019.06</li>
    <li style="margin-right: 0;width: 680px;float: right">
      <div class="jinglibt">
        <span>北京外国语大学</span>
        <span>国际商学院&nbsp;&nbsp;&nbsp;会计学(国际方向)</span>
        <span style="text-align: right;">硕士</span>
        <div class="clearfix"></div>
      </div>
    </li>
    <div class="clearfix"></div>
  </ul>

  <ul class="jingli" style="margin-top: 10px">
    <!--   <li style="font-weight: bold;">2016.09-2019.06</li> -->
    <li style="margin-right: 0;width: 680px;float: right">
      <div class="jinglibt">
        <p>GPA:3.76/4.00&nbsp;&nbsp;&nbsp;专业排名：2/55</p>
        <p>一等学业奖学金两次、社会工作奖、优秀毕业论文、优秀学生干部</p>
        <div class="clearfix"></div>
      </div>
    </li>
    <div class="clearfix"></div>
  </ul>

</div>

<div class="box">
  <div>
    <p class="biaoti">实习经历</p>
    <div class="xian"></div>
  </div>

  <div>
    <ul class="jingli">
      <li style="font-weight: bold;">2017.02-2017.06</li>
      <li style="margin-right: 0;width: 680px;float: right">
        <div class="jinglibt">
          <span>民生证券</span>
          <span>研究院宏观组</span>
          <span style="text-align: right;">研究院助理</span>
          <div class="clearfix"></div>
        </div>
      </li>
      <div class="clearfix"></div>
    </ul>

    <ul class="nr">
      <li>
        <span class="icon">></span>
        <p>
          撰写研究报告(部分板块独立撰写)：曾独立撰写6份研究报告板块部分，包括金控平台梳理，消费金融创新情况研究，全球房价对比，银行委外理财概况，一带一路中民营企业发展情况以及城商行的IPO梳理及发展趋势研究。其中，消费金融创新报告独立完成50%，达2万字，并被国家金融与发展实验室采用。</p>
        <div class="clearfix"></div>
      </li>
      <li>
        <span class="icon">></span>
        <p>债市报告撰写：追踪并更新宏观经济数据和债市市场数据，及时更新每月债市报告</p>
        <div class="clearfix"></div>
      </li>
      <li>
        <span class="icon">></span>
        <p>会议纪要记录：曾全程记录四川贵州某PPP项目调研会议</p>
        <div class="clearfix"></div>
      </li>
      <li>
        <span class="icon">></span>
        <p>资料查找与海外报告翻译：利用wind辅助研究员查找资料，翻译海外机构部分研究报告</p>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>

  <div>
    <ul class="jingli">
      <li style="font-weight: bold;">2017.02-2017.06</li>
      <li style="margin-right: 0;width: 680px;float: right">
        <div class="jinglibt">
          <span>民生证券</span>
          <span>研究院宏观组</span>
          <span style="text-align: right;">研究院助理</span>
          <div class="clearfix"></div>
        </div>
      </li>
      <div class="clearfix"></div>
    </ul>

    <ul class="nr">
      <li>
        <span class="icon">></span>
        <p>
          撰写研究报告(部分板块独立撰写)：曾独立撰写6份研究报告板块部分，包括金控平台梳理，消费金融创新情况研究，全球房价对比，银行委外理财概况，一带一路中民营企业发展情况以及城商行的IPO梳理及发展趋势研究。其中，消费金融创新报告独立完成50%，达2万字，并被国家金融与发展实验室采用。</p>
        <div class="clearfix"></div>
      </li>
      <li>
        <span class="icon">></span>
        <p>债市报告撰写：追踪并更新宏观经济数据和债市市场数据，及时更新每月债市报告</p>
        <div class="clearfix"></div>
      </li>
      <li>
        <span class="icon">></span>
        <p>会议纪要记录：曾全程记录四川贵州某PPP项目调研会议</p>
        <div class="clearfix"></div>
      </li>
      <li>
        <span class="icon">></span>
        <p>资料查找与海外报告翻译：利用wind辅助研究员查找资料，翻译海外机构部分研究报告</p>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>

  <div class="box">
    <div>
      <p class="biaoti">工作经历</p>
      <div class="xian"></div>
    </div>

    <div>
      <ul class="jingli">
        <li style="font-weight: bold;">2017.02-2017.06</li>
        <li style="margin-right: 0;width: 680px;float: right">
          <div class="jinglibt">
            <span>民生证券</span>
            <span>研究院宏观组</span>
            <span style="text-align: right;">研究院助理</span>
            <div class="clearfix"></div>
          </div>
        </li>
        <div class="clearfix"></div>
      </ul>

      <ul class="nr">
        <li>
          <span class="icon">></span>
          <p>
            撰写研究报告(部分板块独立撰写)：曾独立撰写6份研究报告板块部分，包括金控平台梳理，消费金融创新情况研究，全球房价对比，银行委外理财概况，一带一路中民营企业发展情况以及城商行的IPO梳理及发展趋势研究。其中，消费金融创新报告独立完成50%，达2万字，并被国家金融与发展实验室采用。</p>
          <div class="clearfix"></div>
        </li>
        <li>
          <span class="icon">></span>
          <p>债市报告撰写：追踪并更新宏观经济数据和债市市场数据，及时更新每月债市报告</p>
          <div class="clearfix"></div>
        </li>
        <li>
          <span class="icon">></span>
          <p>会议纪要记录：曾全程记录四川贵州某PPP项目调研会议</p>
          <div class="clearfix"></div>
        </li>
        <li>
          <span class="icon">></span>
          <p>资料查找与海外报告翻译：利用wind辅助研究员查找资料，翻译海外机构部分研究报告</p>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>

    <div>
      <ul class="jingli">
        <li style="font-weight: bold;">2017.02-2017.06</li>
        <li style="margin-right: 0;width: 680px;float: right">
          <div class="jinglibt">
            <span>民生证券</span>
            <span>研究院宏观组</span>
            <span style="text-align: right;">研究院助理</span>
            <div class="clearfix"></div>
          </div>
        </li>
        <div class="clearfix"></div>
      </ul>

      <ul class="nr">
        <li>
          <span class="icon">></span>
          <p>
            撰写研究报告(部分板块独立撰写)：曾独立撰写6份研究报告板块部分，包括金控平台梳理，消费金融创新情况研究，全球房价对比，银行委外理财概况，一带一路中民营企业发展情况以及城商行的IPO梳理及发展趋势研究。其中，消费金融创新报告独立完成50%，达2万字，并被国家金融与发展实验室采用。</p>
          <div class="clearfix"></div>
        </li>
        <li>
          <span class="icon">></span>
          <p>债市报告撰写：追踪并更新宏观经济数据和债市市场数据，及时更新每月债市报告</p>
          <div class="clearfix"></div>
        </li>
        <li>
          <span class="icon">></span>
          <p>会议纪要记录：曾全程记录四川贵州某PPP项目调研会议</p>
          <div class="clearfix"></div>
        </li>
        <li>
          <span class="icon">></span>
          <p>资料查找与海外报告翻译：利用wind辅助研究员查找资料，翻译海外机构部分研究报告</p>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>

    <div>
      <ul class="jingli">
        <li style="font-weight: bold;">2017.02-2017.06</li>
        <li style="margin-right: 0;width: 680px;float: right">
          <div class="jinglibt">
            <span>民生证券</span>
            <span>研究院宏观组</span>
            <span style="text-align: right;">研究院助理</span>
            <div class="clearfix"></div>
          </div>
        </li>
        <div class="clearfix"></div>
      </ul>

      <ul class="nr">
        <li>
          <span class="icon">></span>
          <p>
            撰写研究报告(部分板块独立撰写)：曾独立撰写6份研究报告板块部分，包括金控平台梳理，消费金融创新情况研究，全球房价对比，银行委外理财概况，一带一路中民营企业发展情况以及城商行的IPO梳理及发展趋势研究。其中，消费金融创新报告独立完成50%，达2万字，并被国家金融与发展实验室采用。</p>
          <div class="clearfix"></div>
        </li>
        <li>
          <span class="icon">></span>
          <p>债市报告撰写：追踪并更新宏观经济数据和债市市场数据，及时更新每月债市报告</p>
          <div class="clearfix"></div>
        </li>
        <li>
          <span class="icon">></span>
          <p>会议纪要记录：曾全程记录四川贵州某PPP项目调研会议</p>
          <div class="clearfix"></div>
        </li>
        <li>
          <span class="icon">></span>
          <p>资料查找与海外报告翻译：利用wind辅助研究员查找资料，翻译海外机构部分研究报告</p>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>

    <div class="box">
      <div>
        <p class="biaoti">学术研究</p>
        <div class="xian"></div>
      </div>

      <div>
        <ul class="jingli">
          <li style="font-weight: bold;">2016.04-2017.04</li>
          <li style="margin-right: 0;width: 680px;float: right">
            <div class="jinglibt1">
              <span>北京市社会科学基金项目</span>
              <span style="margin-right: 0">《政策推动下的民营企业创新与经济增长——基于全国民营企业调研的分配》</span>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </ul>
        <ul class="nr">
          <li>
            <span class="icon">></span>
            <p>北京市正在进行和已经完成混合所有制改革的企业为主要研究对象 ，从股权和经营权两个维度分析了控制权结构对于创新决策的影响，并将宏观政策变化纳入整体的分析框架.
              <span style="color: red">得出了xxxx结论或者证明了混改对企业创新的xxx作用。</span>
            </p>
            <div class="clearfix"></div>
          </li>
          <li>
            <span class="icon">></span>
            <p>债市报告撰写：追踪并更新宏观经济数据和债市市场数据，及时更新每月债市报告</p>
            <div class="clearfix"></div>
          </li>
          <li>
            <span class="icon">></span>
            <p>会议纪要记录：曾全程记录四川贵州某PPP项目调研会议</p>
            <div class="clearfix"></div>
          </li>
          <li>
            <span class="icon">></span>
            <p>资料查找与海外报告翻译：利用wind辅助研究员查找资料，翻译海外机构部分研究报告</p>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>

      <div>
        <ul class="jingli">
          <li style="font-weight: bold;">2016.04-2017.04</li>
          <li style="margin-right: 0;width: 680px;float: right">
            <div class="jinglibt1">
              <span>北京市社会科学基金项目</span>
              <span style="margin-right: 0">《政策推动下的民营企业创新与经济增长——基于全国民营企业调研的分配》</span>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </ul>
        <ul class="nr">
          <li>
            <span class="icon">></span>
            <p>北京市正在进行和已经完成混合所有制改革的企业为主要研究对象 ，从股权和经营权两个维度分析了控制权结构对于创新决策的影响，并将宏观政策变化纳入整体的分析框架.<span style="color: red">得出了xxxx结论或者证明了混改对企业创新的xxx作用。</span>
            </p>
            <div class="clearfix"></div>
          </li>
          <li>
            <span class="icon">></span>
            <p>债市报告撰写：追踪并更新宏观经济数据和债市市场数据，及时更新每月债市报告</p>
            <div class="clearfix"></div>
          </li>
          <li>
            <span class="icon">></span>
            <p>会议纪要记录：曾全程记录四川贵州某PPP项目调研会议</p>
            <div class="clearfix"></div>
          </li>
          <li>
            <span class="icon">></span>
            <p>资料查找与海外报告翻译：利用wind辅助研究员查找资料，翻译海外机构部分研究报告</p>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>

      <div>
        <ul class="jingli">
          <li style="font-weight: bold;">2016.04-2017.04</li>
          <li style="margin-right: 0;width: 680px;float: right">
            <div class="jinglibt1">
              <span>北京市社会科学基金项目</span>
              <span style="margin-right: 0">《政策推动下的民营企业创新与经济增长——基于全国民营企业调研的分配》</span>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </ul>
        <ul class="nr">
          <li>
            <span class="icon">></span>
            <p>北京市正在进行和已经完成混合所有制改革的企业为主要研究对象 ，从股权和经营权两个维度分析了控制权结构对于创新决策的影响，并将宏观政策变化纳入整体的分析框架.<span style="color: red">得出了xxxx结论或者证明了混改对企业创新的xxx作用。</span>
            </p>
            <div class="clearfix"></div>
          </li>
          <li>
            <span class="icon">></span>
            <p>债市报告撰写：追踪并更新宏观经济数据和债市市场数据，及时更新每月债市报告</p>
            <div class="clearfix"></div>
          </li>
          <li>
            <span class="icon">></span>
            <p>会议纪要记录：曾全程记录四川贵州某PPP项目调研会议</p>
            <div class="clearfix"></div>
          </li>
          <li>
            <span class="icon">></span>
            <p>资料查找与海外报告翻译：利用wind辅助研究员查找资料，翻译海外机构部分研究报告</p>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
    </div>

    <div class="box">
      <div>
        <p class="biaoti">案例分析/项目经历</p>
        <div class="xian"></div>
      </div>

      <div>
        <ul class="jingli">
          <li style="font-weight: bold;">2016.04-2017.04</li>
          <li style="margin-right: 0;width: 680px;float: right">
            <div class="jinglibt1">
              <span style="margin-right: 0">XXX估值建模分析</span>
              <div class="clearfix"></div>
            </div>
          </li>
          <div class="clearfix"></div>
        </ul>
        <ul class="nr">
          <li>
            <span class="icon">></span>
            <p>北京市正在进行和已经完成混合所有制改革的企业为主要研究对象 ，从股权和经营权两个维度分析了控制权结构对于创新决策的影响，并将宏观政策变化纳入整体的分析框架.</p>
            <div class="clearfix"></div>
          </li>
          <li>
            <span class="icon">></span>
            <p>债市报告撰写：追踪并更新宏观经济数据和债市市场数据，及时更新每月债市报告</p>
            <div class="clearfix"></div>
          </li>
          <li>
            <span class="icon">></span>
            <p>会议纪要记录：曾全程记录四川贵州某PPP项目调研会议</p>
            <div class="clearfix"></div>
          </li>
          <li>
            <span class="icon">></span>
            <p>资料查找与海外报告翻译：利用wind辅助研究员查找资料，翻译海外机构部分研究报告</p>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
